#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.comprado {
  text-decoration: line-through;
  opacity: 0.6;
}

.sem-itens {
  text-align: center;
  margin-top: 40px;
  font-size: 0.95rem;
  opacity: 0.7;
}

.categoria {
  font-size: 0.8rem;
  opacity: 0.7;
}
